<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{articolo}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi-cart4"></i>
      Monitoraggio prezzi
    </a>
  </div>
</nav>
    <div  class="container">
      <h1>{{product}}</h1>
      <h2>{{brand}}</h2>
    </div>
    
    <div class="container">
      <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
      const ctx = document.getElementById('myChart');
  
      const data = {
        labels: [{% for item in prices %}
          '{{item.date}}',
        {% endfor %}],
        datasets: [{
          data: [{% for item in prices %}        {{'%0.2f'|format(item.price|float)}},
        {% endfor %}],
          borderColor: 'rgb(60,50,200)',
          tension: 0.2
        }]
      };
      
      new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
          plugins: {
            legend: {
                display: false,
            }
          },
          scales: {
            x: {
              ticks: {
                autoSkip: true,
              }
            }
          }
        }
      });
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>